* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #bd98a9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

header .logo-header {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

header .navbar-header a {
  font-size: 1rem;
  padding: 0 0.7rem;
  color: #666;
}

header .navbar-header a:hover {
  color: #282828;
  border-bottom: 0.1rem solid #282828;
  padding-bottom: 0.7rem;
}

header .icons-header a {
  font-size: 1rem;
  color: #666;
}

header .icons-header a:hover {
  color: #000;
  border-bottom: 0.1rem solid #000;
  padding-bottom: 0.7rem;
}

.home {
  position: relative;
  max-width: 100%;
  height: 37rem;
  background: url(download.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.home .content-home {
  position: absolute;
  top: 15rem;
  margin-left: 35rem;
}

.home .content-home h3 {
  font-size: 5rem;
  color: #333;
}

.home .content-home h3 span {
  font-size: 5rem;
  color: #565656;
  margin-left: 0.3rem;
}

.home .content-home p {
  font-size: 1rem;
  color: #333;
  line-height: 2.5rem;
}

.home .btn-home {
  display: inline-block;
  border-radius: 3rem;
  background-color: #333;
  color: #fff;
  padding: 0.7rem 0.7rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.home .btn-home:hover {
  background-color: rgb(255, 82, 111);
  color: #000;
}

.about {
  max-width: 100%;
  height: 30rem;
}

.about h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  background-color: #eecae1;
}

.about h1 span {
  color: #565656;
}

.about h3 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.about p {
  text-align: center;
  font-size: 1.3rem;
  color: #333;
  line-height: 2rem;
  padding: 1rem 20rem;
}

.products-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #eecae1;
}

.products-container .box-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 0.7rem;
  margin: 0.5rem;
}

.products-container .box-container .item ul {
  list-style-type: none;
}

.products-container .box-container .item {
  max-width: 15rem;
  max-height: 35rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.5rem #333;
}

.products-container .box-container .item img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.products-container .box-container .item .bt-item {
  margin-top: 0;
  margin-bottom: 0.1rem;
  padding: 1rem 0;
  font-size: 0.3rem;
  color: #000000;
  background-color: #eecae1;
}

.products-container .box-container .item h3 {
  font-size: 1rem;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
}

.products-container .box-container .item h2 {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 0.1rem;
}

.products-container .box-container .item .star-icons {
  fill: yellow;
  width: 1rem;
}

.products-container .box-container .item .star {
  fill: #fff;
  width: 1rem;
}

.products-container .box-container .item p {
  text-align: left;
  color: red;
  font-weight: bold;
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
} 

.products-container .box-container .item:hover {
  box-shadow: 5px 5px 11px rgb(237, 118, 215);
  transform: scale(0.9);
}


/* Media Queries */

/* Laptop and Dekstop */
@media (max-width: 991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  .item {
    grid-template-columns: repeat(5,1fr);
  }

}

/* Tablets */
@media (max-width: 768px) {

  header .navbar-header {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .home .content-home {
    margin-left: 40rem;
    font-size: 1rem;
  }

  .item {
    grid-template-columns: repeat(3,fr);
  }

}

/* Handphones */
@media (max-width: 450px) {

  html {
    font-size: 50%;
  }

  .home .content-home {
    margin-left: 20rem;
    font-size: 0.7rem;
  }

  .about p {
    text-align: center;
    font-size: 1.3rem;
    color: #333;
    line-height: 2rem;
    padding: 1rem;
  }
}
