* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 209, 209);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo-header {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

header .navbar-header a {
  font-size: 1rem;
  padding: 0 0.7rem;
  color: #666;
}

header .navbar-header a:hover {
  color: #282828;
  border-bottom: 0.1rem solid #282828;
  padding-bottom: 0.7rem;
}

header .icons-header a {
  font-size: 1rem;
  color: #666;
}

header .icons-header a:hover {
  color: #000;
  border-bottom: 0.1rem solid #000;
  padding-bottom: 0.7rem;
}

.home {
  position: relative;
  max-width: 100%;
  height: 37rem;
  background: url(home.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.home .content-home {
  position: absolute;
  top: 15rem;
  margin-left: 10rem;
  text-align: center;
}

.home .content-home h3 {
  font-size: 5rem;
  color: #333;
}

.home .content-home h3 span {
  font-size: 5rem;
  color: #565656;
  margin-left: 1rem;
}

.home .content-home p {
  font-size: 1.3rem;
  color: #333;
  line-height: 3rem;
}

.home .btn-home {
  display: inline-block;
  border-radius: 3rem;
  background-color: rgb(112, 112, 112);
  color: #fff;
  padding: 0.7rem 0.7rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.home .btn-home:hover {
  background-color: rgb(167, 167, 167);
  color: #000;
}

.about {
  max-width: 100%;
  height: 30rem;
}

.about h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
  background-color: rgb(181, 181, 181);
}

.about h1 span {
  color: #565656;
}

.about h3 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.about p {
  text-align: center;
  font-size: 1.3rem;
  color: #333;
  line-height: 2rem;
  padding: 3rem 15rem;
}

.products h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: rgb(181, 181, 181);
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 0.5rem;
}

.products .box-container .item ul {
  list-style-type: none;
}

.products .box-container .item {
  position: relative;
  max-width: 15rem;
  max-height: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: rgb(236, 236, 236);
  box-shadow: 0.3rem 0.3rem 0.3rem #333;
}

.products .box-container .item .discount {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: red;
}

.products .box-container .item img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
}

.products .box-container .item .troli {
  background-color: rgb(236, 236, 236);
}

.products .box-container .item .troli .troli-icon {
  width: 1.7rem;
  height: 1.7rem;
  padding-top: 0.5rem;
  color: #333;
}

.products .box-container .item .troli .troli-cart {
  padding-bottom: 0.7rem;
  margin-left: 0.1rem;
  color: #333;
  font-size: 1rem;
}

.products .box-container .item h3 {
  margin-left: 0.7rem;
  font-weight: bold;
  text-align: left;
}

.products .box-container .item span {
  font-weight: normal;
}

.products .box-container .item .harga {
  text-align: left;
  color: red;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.7rem;
}

.products .box-container .item .alamat {
  margin-left: 0.7rem;
  text-align: left;
  display: flex;
}

.products .box-container .item .alamat .home-icon {
  width: 1rem;
  color: #333;
}

.products .box-container .item .alamat p {
  margin-left: 0.3rem;
  padding-top: 0.3rem;
  color: #333;
}

.products .box-container .item .terjual {
  display: flex;
}

.products .box-container .item .terjual .star-icon {
  width: 1rem;
  margin-left: 0.7rem;
}

.products .box-container .item .terjual p {
  margin-left: 0.3rem;
  padding-top: 0.3rem;
  color: #333;
}

.products .box-container .item h3 {
  font-size: 1rem;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
}

.products .box-container .item h2 {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 0.1rem;
}

.products .box-container .item .star-icon {
  fill: yellow;
  stroke: #000;
  width: 1rem;
}

.products .box-container .item .buy {
  background-color: #6c6c6c;
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.7rem;
  margin: 0.3rem 0.3rem;
  text-align: center;
  padding: 0.7rem;
}

.products .box-container .item:hover {
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(107, 107, 107);
  transform: scale(0.9);
  display: block;
}

.products .box-container .item .buy {
  display: none;
}

.products .box-container .item:hover .buy {
  display: block;
}

.review h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
  background-color: rgb(181, 181, 181);
}

.review .box-review {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
}

.review .box-review .box {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid #000;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem #7e7e7e;
  background-color: #efefef;
}

.review .box-review .box .starss {
  margin-left: 1rem;
  margin-top: 1rem;
}

.review .box-review .box .stars {
  fill: yellow;
  width: 1.7rem;
  left: 0.9rem;
}

.review .box-review .box p {
  margin-bottom: 0.7rem;
  height: 10rem;
  padding: 1.7rem;
  line-height: 2rem;
  font-size: 1.1rem;
}

.review .box-review .box .user {
  display: flex;
}

.review .box-review .box .user img {
  margin: 0 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #333;
  flex: 1;
}

.review .box-review .box .user .user-info {
  padding-top: 1rem;
  font-size: 1rem;
  flex: 3;
}

.review .box-review .box .user .user-info h4 {
  font-weight: normal;
  margin-top: 0.5rem;
}

.contact {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.contact .box-container {
  background-color: #ededed;
  border: 0.1rem solid #333;
  box-shadow: 0.5rem -0.3rem 0.3rem #7e7e7e;
  border-radius: 1rem;
  width: 30rem;
  padding: 0.3rem;
  text-align: center;
  margin: 0 auto;
}

.contact .box-container h1 {
  font-size: 3rem;
  width: 25rem;
  height: 4rem;
  color: #333;
  border-radius: 1rem;
  text-align: center;
  margin: 1rem auto;
}

.contact .box-container .colom {
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: 3rem;
  padding-left: 1rem;
  border-bottom: 0.1rem solid #989898;
  border-radius: 1rem;
  background-color: #ffffffd4;
}

.contact .box-container .btn-colom {
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: 3rem;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 1rem;
}

.footer {
  background-color: #ededed;
}

.footer .box-container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box-footer {
  font-size: 1rem;
  flex: 1;
}

.footer .box-container .box-footer h1{
  color: #333;
  padding: 1rem;
}

.footer .box-container .box-footer a{
  color: #4f4f4f;
  display: block;
  padding: 0.7rem;
}

.footer .box-container .box-footer a:hover{
  color: #272727;
}

.footer .credit {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  color: #333;
}

.footer .credit span {
  color: #000;
}

/* Media Queries */

/* Laptop and Dekstop */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header .navbar-header {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .home .content-home {
    position: absolute;
    top: 15rem;
    margin-left: 5rem;
    font-size: 1rem;
  }

  .about h3 {
    margin-top: 3rem;
  }

  .about p {
    text-align: center;
    font-size: 1.3rem;
    color: #333;
    line-height: 2rem;
    padding: 2rem 7rem;
  }

  .products-container .box-container .item img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

/* Handphones */
@media (max-width: 450px) {
  html { 
    font-size: 50%;
  }

  .products-container .box-container .item img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
