/* Media Queries */

/* Tablet */
@media only screen and (min-width: 640px) {
  .nav-links {
    display: flex;
  }
}

/* For mobile phones */
@media only screen and (max-width: 720px) {
  html {
    font-size: 60%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(99, 67, 12), rgb(234, 185, 100));
}

.navbar {
  display: flex; /* flex digunakan untuk navbar (1 dimensi horizontal/vertical)*/
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, rgb(99, 67, 12), rgb(234, 185, 100));
  padding: 11px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo-container {
  display: flex;
}

.navbar .logo-container img {
  width: 40px; 
  height: auto; 
  background-color: #a1a1a198; 
  border-radius: 10%; 
  margin-right: 5px;
}

.navbar .logo-container i {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.navbar .search-container {
  display: flex;
}

.navbar .search-container .search-box {
  width: 650px; 
  height: 25px; 
  background-color: #bababa98; 
  border: 1px solid #000;
  margin-right: 7px;
}

.lp {
  position: relative;
  margin-top: 80px;
  max-width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, rgb(99, 67, 12), rgb(234, 185, 100));
}

.lp .lp-teks {
  position: absolute;
  top: 270px;
  left: 30px;
  display: block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  margin-top: 10px;
  z-index: 1111;
}

.lp .lp-pic {
  position: absolute;
  top: 25px;
  right: 0;
  width: 530px;
  height: 450px;
  border-top-left-radius: 17%;
  border-bottom-left-radius: 17%;
  background-image: linear-gradient(to left, rgb(99, 67, 12), rgb(234, 185, 100));
  z-index: 1111;
}

.lp .lp-pic-1 {
  position: absolute;
  top: 5px;
  right: 450px;
  width: 170px;
  height: 170px;
  border-radius: 17%;
  background-image: linear-gradient(to left, rgb(234, 185, 100), rgb(99, 67, 12));
}

.lp .lp-pic-2 {
  position: absolute;
  top: 230px;
  right: 550px;
  width: 250px;
  height: 250px;
  border-radius: 17%;
  background-image: linear-gradient(to left, rgb(234, 185, 100), rgb(99, 67, 12));
}

.lp .lp-pic-3 {
  position: absolute;
  top: 5px;
  right: 900px;
  width: 90px;
  height: 90px;
  border-radius: 17%;
  background-image: linear-gradient(to left, rgb(234, 185, 100), rgb(99, 67, 12));
}

.lp .lp-pic-4 {
  position: absolute;
  top: 10px;
  right: 970px;
  width: 50px;
  height: 50px;
  border-radius: 17%;
  background-image: linear-gradient(to left, rgb(234, 185, 100), rgb(99, 67, 12));
}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.products-container .item ul {
  list-style-type: none;
}

.products-container .item {
  max-width: 100%;
  max-height: auto;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5%;
}

.products-container .item img {
  max-width: 245px;
  height: auto;
}

.products-container .item h3 {
  font-size: 17px; 
  padding: 1px;
  margin-bottom: 3px;
}

.products-container .item p {
  text-align: left;
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.products-container .item .bt-item {
  margin-bottom: 10px;
}

.products-container .item .bt-item button {
  padding: 7px; 
  font-size: 10px; 
  color: #000000; 
  background-color: orange
}

.products-container .item:hover {
  border: 1px solid rgb(82, 59, 18);
  box-shadow: 5px 5px 21px rgb(237, 193, 118);
}

.star-icons {
  fill: yellow;
  width: 15px;
}
